<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplicacionlogin">
    <!-- Permisos necesarios para Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_sinfondo"
        android:label="Healthy Heart"
        android:roundIcon="@drawable/logo_sinfondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionLogin"
        tools:targetApi="31">
        <activity
            android:name=".playlist"
            android:exported="false" />
        <activity
            android:name=".contigo"
            android:exported="false" />
        <activity
            android:name=".empezar"
            android:exported="false" />
        <activity
            android:name=".escuchalo"
            android:exported="false" />
        <activity
            android:name=".videos"
            android:exported="false" />
        <activity
            android:name=".insultotres"
            android:exported="false" />
        <activity
            android:name=".insultosdos"
            android:exported="false" />
        <activity
            android:name=".insultos"
            android:exported="false" />
        <activity
            android:name=".rocados"
            android:exported="false" />
        <activity
            android:name=".roca"
            android:exported="true" /> <!-- Ajustado aquí -->
        <activity
            android:name=".Liberate"
            android:exported="false" />
        <activity
            android:name=".Afirmaciones"
            android:exported="false" />
        <activity
            android:name=".categorias"
            android:exported="false" />
        <activity
            android:name=".item_emergencia"
            android:exported="false" />
        <activity
            android:name=".HistorialEmergencia"
            android:exported="false" />
        <activity
            android:name=".activity_registro"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".frases"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".vaso"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".vasoreflexion"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".reflexiones"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".BibliotecaActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".bienvenida"
            android:exported="false" />
        <activity
            android:name=".DiarioActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Diario_Menu"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".DiasDiarioActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".VerRegistrosActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".EscribirDiarioActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".EmergenciaActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LlamarActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity android:name=".ActivityRegistro" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FrasesUploader" />
    </application>

</manifest>